
            *{
                box-sizing: border-box;
                padding:0;
                margin:0;
            }
body{
    background-image:url(imageUsed/bgimg.jpg);  
    background-size:cover;  
}
.left {
    background-color:hsl(207, 90%, 54%);
    border:3px groove blue ;
    background-image:url(imageUsed/imfip.jpg);
    border-radius: 10px;
    box-shadow:5px 4px 1px 1px rgb(176, 192, 192);
    background-size:cover;
    background-position-y: center;
    padding:10px;
    width:48.5%;
    float:left;
    margin-right:10px;
    height: 200px;
    margin: 10px;

}

.right {
    background-color:hsl(207, 90%, 54%);
    border:3px groove blue;
    background-image:url(imageUsed/bg-right.jpg);
    background-size:cover;
    background-position: 50%;
    border-radius: 10px;
    box-shadow:5px 4px 1px 1px rgb(176, 192, 192);
    padding:10px;
    width:48.5%; 
    float:left;
    height: 200px;
    margin: 10px;
    text-align: center;
    padding-top:50px;
    

}

.nav {
    border:3px outset blue;
    background-color:rgb(80, 165, 177);
    padding:30px;
    box-shadow:5px 3px 5px 2px rgb(6, 102, 109);
}

a {
    padding:10px;
    border:3px inset rgb(255, 166, 0) ;
    text-decoration: none;
    font-size:20px;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
}

.home{
    color:blue;
}

.news{
    color:yellow;
}

.contact{
    color:orange;
}

.about{
    color:red;
}

a:hover {
    background-color:#ddd;
    color:gray;
    box-shadow: 2px 1px 3px 1px rgb(255, 166, 0);
}


.Middle {
    background-color:lightblue;
    border:3px outset blue;
    border-radius: 10px;
    background-image:url(imageUsed/middlebg.jpg);
    background-position: top;
    box-shadow:3px 2px 3px 1px rgb(176, 192, 192);
    margin:10px;
    float:left;
    padding:1px;
    width:98.50%;
    
}

.Philippines {
    font-size:30px;
    text-align: center;
    color:blue;
    background-color:rgb(212, 205, 205);
    text-shadow:2px 1px 2px rgb(66, 10, 49);
    font-family:"Lucida Calligraphy";
}

.description {
    font-family:"Lucida Console";
    color:rgb(12, 0, 0);
    padding-left:10px;
    text-shadow:2px 2px 2px rgb(94, 92, 18);
    font-size:20px;
}

.LowerMid1
{
    background-color:lightcoral;
    border:3px outset blue;
    background-image:url(imageUsed/boracay.jpg);
    background-position:45%;
    box-shadow:5px 4px 1px 1px rgb(176, 192, 192);
    margin:10px;
    height:33%;
    width:31.82%;
    float:left;
    padding-bottom:9.5px;
}

span{
    color:black;
    font-size:12px;
    text-align:left;
}

.boracay-name{
    font-family:"Lucida Console";
    color:blue;
    background-color:rgb(212, 205, 205);
    text-shadow:2px 1px 2px rgb(24, 15, 156);
    font-size:18px;
    text-align:left;
}

.boracay-description{
   color:transparent;
   padding-bottom:86px;
}

.boracay-description:hover{
    font-family:"Lucida Console";
    color:rgb(12, 0, 0);
    padding-left:10px;
    text-shadow:2px 1px 2px rgb(24, 15, 156);
    text-align:center;
    margin-bottom:-90px;
    font-size:18px;
    padding-bottom:113.5px;
}

.LowerMid2
{
    background-color:lightcoral;
    border:3px outset blue;
    background-image:url(imageUsed/rice-terraces.jpg);
    background-size: cover;
    box-shadow:5px 4px 1px 1px rgb(176, 192, 192);
    margin:10px;
    width:31.82%;
    float:left;
}

.terraces-name{
    font-family:"Lucida Console";
    color:blue;
    background-color:rgb(212, 205, 205);
    padding-left:10px;
    text-shadow:2px 1px 1px rgb(87, 187, 226);
    font-size:18px;
    padding-left:120px;
}
.terraces-description{
    color:transparent;
    padding-bottom:113px;
}

.terraces-description:hover{
    font-family:"Lucida Console";
    color:rgb(20, 20, 1);
    padding-left:10px;
    text-shadow:2px 1px 1px rgb(87, 187, 226);
    text-align:center;
    font-size:18px;
    padding-bottom:49.5px;
}

.LowerMid3
{
    background-color:lightcoral;
    border:3px outset blue;
    background-image:url(imageUsed/coron-island.jpg);
    background-size:cover;
    box-shadow:5px 4px 1px 1px rgb(176, 192, 192);
    margin:10px;
    width:31.82%;
    float:left;
}

.coron-name {
    font-family:"Lucida Console";
    color:blue;
    background-color:rgb(212, 205, 205);
    padding-left:10px;
    text-shadow:2px 2px 2px rgb(94, 92, 18);
    font-size:18px;
    padding-left:130px;
    
}

.coron-description{
    color:transparent;
    padding-bottom:132.5px;
}

.coron-description:hover{
    font-family:"Lucida Console";
    color:rgb(12, 0, 0);
    padding-left:10px;
    text-shadow:2px 2px 2px rgb(94, 92, 18);
    text-align:center;
    font-size:18px;
    padding-bottom:86px;
}

.foot1
{
    background-color:lightseagreen;
    border:3px outset blue;
    background-image:url(imageUsed/adobo.jpg);
    background-size:cover;
    box-shadow:5px 4px 1px 1px rgb(176, 192, 192);
    margin:10px;
    width:23.50%;
    float:left;
}

.adobo-name {
    background-color:rgb(212, 205, 205);
    text-align:center;
    color:rgb(212, 107, 20);
}

.adobo-description{
    color:transparent;
    padding-bottom:44px;
}

.adobo-description:hover{
    font-family:"Times New Roman";
    color:rgb(12, 0, 0);
    text-shadow:2px 2px 2px rgb(224, 223, 238);
    text-align:center;
    font-size:15px;
    padding-bottom:70.5px;
}

.foot2
{
    background-color:lightseagreen;
    border:3px outset blue;
    background-image:url(imageUsed/bulalo.jpg);
    background-size:cover;
    box-shadow:5px 4px 1px 1px rgb(176, 192, 192);
    margin:10px;
    width:23.50%;
    float:left;
}

.bulalo-name{
    background-color:rgb(212, 205, 205);
    text-align:center;
    color:rgb(212, 107, 20);
}

.bulalo-description {
    color:transparent;
    padding-bottom:44px;
}

.bulalo-description:hover {
    font-family:"Times New Roman";
    color:rgb(12, 0, 0);
    text-shadow:2px 2px 2px rgb(204, 119, 7);
    text-align:center;
    font-size:15px;
    padding-bottom:53px;
}

.foot3
    {
    background-color:lightseagreen;
    border:3px outset blue;
    background-image:url(imageUsed/sisig.jpg);
    background-size:cover;
    box-shadow:5px 4px 1px 1px rgb(176, 192, 192);
    margin:10px;
    width:23.50%;
    float:left;
    }

.sisig-name{
    background-color:rgb(212, 205, 205);
    text-align:center;
    color:rgb(212, 107, 20);
}

.sisig-description { 
    color:transparent;
    padding-bottom:63px;
}
.sisig-description:hover {
    font-family:"Times New Roman";
    color:rgb(12, 0, 0);
    text-shadow:2px 2px 2px rgb(224, 223, 238);
    text-align:center;
    font-size:15px;
    padding-bottom:71px;
}

.foot4
    {
    background-color:lightseagreen;
    border:3px outset blue;
    background-image:url(imageUsed/sinigang.jpg);
    background-size:cover;
    box-shadow:5px 4px 1px 1px rgb(176, 192, 192);
    margin:10px;
    width:23.50%;
    float:left;
    }

.sinigang-name{
    background-color:rgb(212, 205, 205);
    text-align:center;
    color:rgb(212, 107, 20);
}

.sinigang-description {
    color:transparent;
    padding-bottom:63px;
}

.sinigang-description:hover {
    font-family:"Times New Roman";
    color:rgb(12, 0, 0);
    text-shadow:2px 2px 2px rgb(204, 119, 7);
    text-align:center;
    font-size:15px;
    padding-bottom:71px;
}
@media only screen and (min-width:769px) and (max-width:1025px){
    *{
                box-sizing: border-box;
                padding:0;
                margin:0;
            }

    .left,.right{
        width:48%;
    }
    
	.boracay-description:hover{
    padding-bottom:78px;
    }
    
    .boracay-description {
    padding-bottom:100px;
    }
    	
    .terraces-description{
    padding-bottom:127.5px;
    }
    
    .coron-description{
    padding-bottom:166px;
    }
    
    .Middle{
        width:98%;
    }

    .LowerMid1,.LowerMid2,.LowerMid3{
        width:31.3%;

    }

    .foot1,.foot2,.foot3,.foot4{
        width:23%;

    }
    
.adobo-description{
	padding-bottom:61px;
}

.bulalo-description:hover{
	padding-bottom:55px;
}

.sisig-description{
padding-bottom:61px;
}

.sinigang-description:hover{
padding-bottom:88.5px;
}

.sinigang-description {
padding-bottom:62px;
}
    }

    @media only screen and (max-width:769px){

        .left,.right,.Middle,.LowerMid1,.LowerMid2,.LowerMid3{
            width:98%;
        }
        
        .foot1,.foot2,.foot3,.foot4{
            width:47.3%;
        }
        
        .boracay-description{
        padding-bottom:77px;
        }
        
        .terraces-description{
        padding-bottom:85px;
        }

		.coron-description{
        padding-bottom:122px;
        }
        
        .adobo-description:hover{
        padding-bottom:69px;
        }
        
        .bulalo-description:hover{
        padding-bottom:52px;
        }
    }

    @media only screen and (max-width:320px){

        .left,.right
        {
            width:127%;
        }
        
        a{
        padding-left:0px;
        font-size:16px;
        }
        
        .Middle
        {
            width:127%;
        }
        .LowerMid1,.LowerMid2,.LowerMid3
        {
            width:127%;
        }
        
        .boracay-description {
        	padding-bottom:131px;
        }
        
        .terraces-description { 
        	padding-bottom:121px;
        }
        
        .coron-description {
        padding-bottom:176px;
        }
        
        .foot1,.foot2,.foot3,.foot4
        {
            width:127%;
        }
        
        .adobo-description {
        padding-bottom:62px;
        }
        
        .bulalo-description {
        padding-bottom:45px;
        }
        
        .sisig-description {
        padding-bottom:47px;
        }
        
        .sinigang-description {
        padding-bottom:47px;
        }
    }
